<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" placeholder="Seu Nome" required>
        <br>
        <br>
        <input type="text" name="profissao" placeholder="Sua Profissõa" required>
        <br>
        <br>
        <textarea name="depoimento" required></textarea>
        <br>
        <br>
        <button type="submit">Enviar Depoimento</button>
    </form>
</body>
</html>
