    <div id="top-screen" style="position: fixed; top: 0; left: 0; " >
        <header class=" flex justify-around items-center gap-16 h-16 ">
            <button onclick='show_nav_bar()' id="btn-nav-bar" class=" rounded-xl" >
                <svg width="25px" height="25px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                    <path fill="#000000" fill-rule="evenodd" d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z"/>
                </svg>
            </button>

            <a href=" {{ url_for('HOME.home_page') }} ">
                <h1 class=" text-center text-white text-xl ">
                    FW Leader
                </h1>
            </a>

            <a href=" {{ url_for('CONTATO.contatar') }} ">
                <button id="btn-contato" class=" bg-white rounded-xl ">
                    <span class=" text-sm ">
                        Contato
                    </span>
                    
                </button>
            </a>

            <nav id="nav" style="display: none; position: absolute;" class=" bg-white " >
                <button onclick=""></button>
                <ul>
                    <li><a href="  {{ url_for('BLOG.main_blog') }} ">Blog</a></li>
                    <li><a href=" {{ url_for('ABOUT.sobre_nos') }} ">Sobre Nós</a></li>
                    <li><a href=" {{ url_for('CONTATO.contatar') }} ">Contato</a></li>
                </ul>
            </nav>
        </header>
    </div>